* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
      font-family: "Poppins", sans-serif;
    background: #f8fafc;
    color: #1e293b;
    overflow-x:hidden;
}

img{
    max-width:100%;
    height:auto;
}

body::before{
    content:"";
    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:6px;

    background:#D32F2F;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

h1{font-family: Verdana, Geneva, Tahoma, sans-serif;}
/* NAV */

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    background:white;

    padding:20px;

    border-radius:18px;

    box-shadow:0 8px 30px rgba(0,0,0,.05);
    margin-bottom: 80px;
}

nav a {
    text-decoration: none;
    color: #475569;
    font-weight: bold;
    transition: .3s;
    display:flex;
    justify-content:center;
    align-items:center;
     flex-direction:column;
}

nav a:hover {
    color: #D32F2F
}

/* HERO */

.hero{
    min-height: 100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;

    padding: 40px 0;

    border-bottom-left-radius:160px;
}

.hero-image::before{
    content: "";
    position: absolute;

    width: 360px;
    height: 360x;

    border-radius: 50%;

    background: #f3f4f6;

    z-index: -1;
}
.hero-image{
    position: relative;
    flex:0 0 520px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 30px;

    flex-shrink: 0;
}


.hero-image img{
    width: 500px;
    height: auto;
    max-width:100%;
    object-fit: cover;
    object-position: center top;
    aspect-ratio:1/1;
    border-radius: 50%;
    border: 8px solid rgb(194, 56, 56);

    display: block;
}

.hero-text{
    flex: 1;
    text-align: left;
    padding-right:30px;
    border-right: 3px solid #D32F2F;
}

.hero h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;

    color: #1E293B;

    max-width: 650px;
}

.hero h1 span{
    color: #D32F2F;
}

.hero h2{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 20px;
}

.hero p {
    font-size: 1.4rem;
    color: #64748b;

    max-width: 600px;

    margin-bottom: 40px;
}




/* SEÇÕES */

section {
    margin-bottom: 120px;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

section p {
    line-height: 1.8;
    color: #475569;
}

/* PRODUTOS */

.cards {
    display: flex;
    gap: 25px;

    overflow-x: auto;
    min-width:auto;
    width:100%;
    padding: 20px 0;
}

.cards::-webkit-scrollbar {
    height: 8px;
}

.cards::-webkit-scrollbar-thumb {
    background: #D32F2F;
    border-radius: 999px;
}

.card {
    min-width: 320px;

    background: white;

    border-radius: 24px;

    overflow: hidden;

    transition: .3s;

    box-shadow:
        0 10px 25px rgba(0,0,0,0.08);
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 240px;
    object-fit: contain;
    background: white;  
}

.card h3 {
    padding: 20px 20px 10px;
}

.card p {
    padding: 0 20px 25px;
}

.card a {
    display: inline-block;

    margin: 0 20px 20px;

    text-decoration: none;

    color: #D32F2F;

    font-weight: bold;
}

/* CONTATO */

.contato {
    text-align: center;
}

.contato a {
    text-decoration: none;

    color: #D32F2F;

    font-weight: bold;

    margin: 0 15px;
}

/* FOOTER */

footer {
    text-align: center;

    padding: 50px 0;

    color: #94a3b8;
}

/* MOBILE */

@media (max-width: 768px){

    main{
        padding:20px;
    }

    nav{
        width:100%;
        gap:20px;
        padding:20px;
        flex-wrap:wrap;
    }

    .hero{
        flex-direction:column;
        gap:50px;
        text-align:center;
        min-height:auto;
        padding:50px 0;
    }

    .hero-text{
        border:none;
        padding:0;
        text-align:center;
        padding-right:0;
        width:100%;
    }


    .hero h1{
        font-size:3rem;
        line-height:1.1;
        font-size:2.4rem;
        max-width:100%;
    }

    .hero h2{
        font-size:1.1rem;
    }

    .hero-buttons{
        justify-content:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 35px;
        }
    .hero-image{
    padding-left:0;
    width:100%;
    }

    .hero-image img{
        width:280px;
        height:280px;
    }

    .hero-image::before{
        width:320px;
        height:320px;
         width:260px;
        height:260px;
    }
    
    .hero-buttons{
    margin-top:35px;
    justify-content:center;
    gap: 60px;
    }

    .cards{
        flex-direction:column;
        overflow:visible;
    }

    .card{
        min-width:100%;
    }

    section h2{
        font-size:2rem;
        text-align:center;
    }

    .sobre p{
        text-align:center;
    }

    .contato{
        display:flex;
        flex-direction:column;
        gap:20px;
    }

    .whatsapp-float{
        width:60px;
        height:60px;
        right:20px;
        bottom:20px;
    }

}
.hero-buttons{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    margin-top:35px;
    flex-wrap:nowrap;
}



.btn-green{
    text-decoration: none;
    color: white;
    padding: 16px 30px;
    border-radius: 50px;
    font-weight: bold;
    transition: .3s;
}

.btn-red{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: #D32F2F;
    color: white;

    padding: 16px 28px;
    width:auto;
    border-radius: 999px;
    white-space:nowrap;
    font-size: 1rem;
    font-weight: 600;

    text-decoration: none;

    transition: .3s ease;

    box-shadow: 0 8px 20px rgba(211,47,47,.30);
}

.btn-red:hover{
    background: #B71C1C;
    transform: translateY(-4px);
    box-shadow: 0 14px 30px rgba(211,47,47,.40);
}


.btn-green{
    background: #25D366;
    
}

.btn-green:hover{
    background: #1DA851;
    transform: translateY(-4px);
}

.whatsapp-float{
    position: fixed;

    right: 30px;
    bottom: 30px;

    width: 65px;
    height: 65px;

    background: #25D366;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 2rem;

    box-shadow: 0 8px 25px rgba(0,0,0,.25);

    transition: .3s;

    z-index: 1000;
}

.whatsapp-float:hover{
    transform: scale(1.1);
    background: #1EBE5D;
}

.logo{
     width:100vw;
    margin-left:calc(50% - 50vw);
    font-size: 2rem;
    background:#D32F2F;
    padding:15px 0;
    display:flex;
    justify-content:center;
    box-shadow: 0 14px 30px rgba(211,47,47,.40);
    transition: .3s ease;
    flex-wrap:nowrap;
    
}
@import url('https://googleapis.com');

.logo {
  font-family: 'Quicksand', sans-serif;
}


.logo img{
    width: 500px;
    max-width: 420px;
    height: auto;
}

#simulacao{
    padding:100px 8%;
    background:#f8fafc;
}

.simulacao-box{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
}

.calculadora,
.faq{

    background:#fff;

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

.calculadora h2,
.faq h2{

    font-size:2rem;

    margin-bottom:15px;

    color:#111827;
}

.calculadora p{

    color:#6b7280;

    margin-bottom:25px;
}

.calculadora input{

    width:100%;

    padding:16px;

    border:2px solid #ddd;

    border-radius:12px;

    margin-bottom:20px;

    font-size:1rem;
}

.calculadora button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    background:#b91c1c;

    color:#fff;

    cursor:pointer;

    font-size:1rem;

    font-weight:600;

    transition:.3s;
}

.calculadora button:hover{

    background:#991b1b;
}

#resultado{

    margin-top:25px;

    font-size:1.2rem;

    font-weight:bold;

    color:#b91c1c;

    text-align:center;
}

.faq-item{

    border-bottom:1px solid #e5e7eb;
}

.faq-btn{

    width:100%;

    background:none;

    border:none;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 0;

    cursor:pointer;

    font-size:1rem;

    font-weight:600;

    color:#111827;
}

.faq-content{

    max-height:0;

    overflow:hidden;

    transition:.35s;

    color:#6b7280;

    line-height:1.7;
}

.faq-item.active .faq-content{

    max-height:200px;

    padding-bottom:18px;
}

@media(max-width:900px){

.simulacao-box{

grid-template-columns:1fr;

}
}

.ademicon-badge{

    display:flex;
    align-items:center;
    justify-content:space-between;

    width:650px;
    max-width:100%;

    background:#fff;

    padding:25px 35px;

    border-radius:22px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    margin-bottom:45px;
}

.ademicon-left{

    display:flex;
    flex-direction:column;
}

.consultor{

    font-size:.95rem;

    letter-spacing:1px;

    color:#2b3550;

    margin-bottom:12px;

    font-weight:600;
}

.ademicon-left img{

    width:240px;
    width: 450px;
    border-radius: 50%;

    border: 6px solid #d62828;
    outline: 8px solid #ffffff;

    box-shadow: 0 20px 50px rgba(0,0,0,.15);
    
}

.divider{

    width:1px;
    height:80px;

    background:#e5e7eb;

    margin:0 30px;
}

.ademicon-right{

    display:flex;
    align-items:flex-start;
    gap:15px;
}

.ademicon-right i{

    color:#d92b2b;

    font-size:1.8rem;

    margin-top:3px;
}

.ademicon-right p{

    color:#374151;

    line-height:1.7;

    font-size:.95rem;
}

@media(max-width:768px){

.ademicon-badge{

flex-direction:column;

align-items:flex-start;

gap:25px;

padding:25px;

}

.divider{

display:none;

}

.ademicon-left img{

width:180px;
align-items: center;

}

}